:host {
	.nav-link{
		height: 126px !important;
	}
	.board-list-item {
		text-align: center;
	}
	.board-name{
		color: #124041;
		font-weight: bold;
		margin-top: 10px;
		font-size: 14px;
	}
	.nav-board-item{
		color: #504f4f;
	}

	.nav-link:hover .nav-board-item{
		color: #00b0e0;
	}
	.mat-accent-bg .active-icon{
		color: #00b0e0;
	}
	.mat-accent-bg {
		background-color: #f5f5f5 !important;
	}
}
