@import 'src/@fuse/scss/fuse';

fuse-navigation {
    display: flex;
    flex: 1 0 auto;

    > .nav {
    	margin: auto auto auto 13.86%;
        padding: 0;
        width: 100%;

        .logo-frame {
	        height: 126px;
	        margin-right: 4%;
	    }

	    .logo-button {
	        height: 126px;
	    }

	    .logo-helper {
	        display: inline-block;
		    height: 100%;
		    vertical-align: middle;
	    }

	    .logo-img {
	        vertical-align: middle;
	        max-height: 60%;
	    }
	    .btn-mcolor-green {
	    	background: #8ac239;
	    	color: #fff;
	    	font-size: 16px;
	    	padding: 5px 20px 5px 20px;
    		margin: 10px;
	    }

	    .btn-mcolor-cray {
	    	background: #00b0e0;
	    	color: #fff;
	    	font-size: 16px;
	    	padding: 5px 20px 5px 20px;
    		margin: 10px;
	    }
    }
}
