:host {
    #home {
        background: url("../../../assets/sia/images/banners/banner_bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        width: 100%;
        height: 639px;
        min-height: 639px;
        background-color: transparent;
        position: relative;
        display: table;
    }
    #home .home-content-left {
        height: 639px;
        display: table-cell; 
        vertical-align: middle; 
    }
    #home .row {
        margin: auto auto auto 13.86%;
        padding: 0px;
        width: 100%;
    }
    #home .home-image-right{
        display: block;
        position: absolute;
        left: 15%;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-top: 21rem;
        z-index: 500;
        width: 70%;
        text-align: right;
    }
    #home .home-image-right img {
        vertical-align: bottom;
        width: 75%;
    }
    #home .banner-left-text{
        font-family: "ProximaNovaSoft-Regular";
        font-size: 65px;
        line-height: 1.2;
        color: #fff;
    }
    #home .home-mobile-title{
        text-align: center;
        margin: 50px 0px;
        width: 90%;
    }
    #home .home-mobile-title-img {
        width: 110%;
    }
    #home .home-mobile-title-img img{
        width: 100%;
    }
    #home .home-mobile-title-btn-row1{
        width: 100%;
        margin-top: 40px;
    }
    #home .home-mobile-title-btn-row2{
        width: 100%;
        margin-bottom: 40px;
    }
    #home .home-mobile-title-btn{
        margin: 10px 0px;
        width: 90%;
    }
    #home .home-mobile-title-btn button{
        width: 100%;
        margin: 0px;
    }
    #home .btn-banner {
        padding: 10px 40px 10px 40px;
        margin-right: 20px;
        border-radius: 5px;
        font-size: 18px;
        font-family: "ProximaNovaSoft-Bold";
    }
    #home .home-content {
        display: table-cell;
        width: 100%;
        height: 100%;
    }
    
    #home .home-content .contents {
        position: relative;
    }
    #home .home-mobile {
        display: none;
    }

    @media (min-width: 1760px) {
        #home {
            height: 700px;
            min-height: 700px;
        }
        #home .home-content-left {
            height: 700px;
        }
        #home .row {
            margin: auto auto auto 13.86%;
        }
        #home .home-image-right{
            left: 15%;
            top: 38%;
        }
        #home .banner-left-text{
            font-size: 65px;
        }
        #home .btn-banner {
            padding: 10px 40px 10px 40px;
        }
        #home .home-content {
            display: table-cell;
        }
        #home .home-mobile {
            display: none !important;
        }
    }
    @media (min-width: 1660px) and (max-width: 1760px){
        #home {
            height: 700px;
            min-height: 700px;
        }
        #home .home-content-left {
            height: 700px;
        }
        #home .row {
            margin: auto auto auto 13.86%;
        }
        #home .home-image-right{
            left: 15%;
            top: 38%;
        }
        #home .banner-left-text{
            font-size: 60px;
        }
        #home .btn-banner {
            padding: 10px 40px 10px 40px;
        }
        #home .home-content {
            display: table-cell;
        }
        #home .home-mobile {
            display: none !important;
        }
    }
    @media (min-width: 1440px) and (max-width: 1660px){
        #home {
            height: 604px;
            min-height: 604px;
        }
        #home .home-content-left {
            height: 554px;
        }
        #home .row {
            margin: auto auto auto 10%;
        }
        #home .home-image-right{
            left: 18%;
            top: 38%;
        }
        #home .banner-left-text{
            font-size: 55px;
        }
        #home .btn-banner {
            padding: 10px 40px 10px 40px;
        }
        #home .home-content {
            display: table-cell;
        }
        #home .home-mobile {
            display: none !important;
        }
    }
    @media (min-width: 1280px) and (max-width: 1440px){
        #home {
            height: 520px;
            min-height: 520px;
        }
        #home .home-content-left {
            height: 520px;
        }
        #home .row {
            margin: auto auto auto 5%;
        }
        #home .home-image-right{
            left: 24%;
            top: 32%;
        }
        #home .banner-left-text{
            font-size: 55px;
        }
        #home .btn-banner {
            padding: 10px 40px 10px 40px;
        }
        #home .home-content {
            display: table-cell;
        }
        #home .home-mobile {
            display: none !important;
        }
    }
    @media (min-width: 1024px) and (max-width: 1280px){
        #home {
            height: 432px;
            min-height: 432px;
        }
        #home .home-content-left {
            height: 432px;
        }
        #home .row {
            margin: auto auto auto 10%;
        }
        #home .home-image-right{
            left: 21%;
            top: 28%;
        }
        #home .banner-left-text{
            font-size: 43px;
        }
        #home .btn-banner {
            padding: 10px 40px 10px 40px;
        }
        #home .home-content {
            display: table-cell;
        }
        #home .home-mobile {
            display: none !important;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px){
        #home {
            height: 344px;
            min-height: 344px;
        }
        #home .home-content-left {
            height: 344px;
        }
        #home .row {
            margin: auto auto auto 10%;
        }
        #home .home-image-right{
            left: 21%;
            top: 22%;
        }
        #home .banner-left-text{
            font-size: 32px;
        }
        #home .btn-banner {
            padding: 0px 16px;
        }
        #home .home-content {
            display: table-cell;
        }
        #home .home-mobile {
            display: none !important;
        }
    }
    @media (min-width: 570px) and (max-width: 768px){
        #home .home-content {
            display: none;
        }
        #home .home-mobile {
            display: block;
        }
        #home .banner-left-text{
            font-size: 65px;
        }
    }
    @media (min-width: 425px) and (max-width: 570px){
        #home .home-content {
            display: none;
        }
        #home .home-mobile {
            display: block;
        }
        #home .banner-left-text{
            font-size: 48px;
        }
    }
    @media (min-width: 375px) and (max-width: 425px){
        #home .home-content {
            display: none;
        }
        #home .home-mobile {
            display: block;
        }
        #home .banner-left-text{
            font-size: 40px;
        }
    }
    @media (max-width: 375px){
        #home .home-content {
            display: none;
        }
        #home .home-mobile {
            display: block;
        }
        #home .banner-left-text{
            font-size: 35px;
        }
    }
    
    #home .btn-gray{
        color: #4d4e4e;
    }
    #home .btn-trans{
        color: #fff;
        background: #fff0;
        border: 1px solid #00b0e0;
    }
    
    #in-press {
        background: #fff;
    }

    #in-press .title {
        padding: 50px 0px 30px 0px;
        font-size: 15px;
        letter-spacing: 3px;
        color: #8ac239;
        font-family: "ProximaNovaSoft-Bold";
    }
    #in-press .mark-img {
        padding: 0px 0px 50px 0px;
        width: 72.3%;
        display: flex;
    }
    #in-press .mark-img-item{
        width: 100%;
    }
    #in-press .mark-img-mobile{
        padding: 0px;
        width: 90%;
        display: none;
    }
    @media (min-width: 1024px) {
        #in-press .mark-img {
            display: flex !important;
        }
        #in-press .mark-img-mobile{
            display: none !important;
        }
    }
    @media (max-width: 1024px){
        #in-press .mark-img {
            display: none !important;
        }
        #in-press .mark-img-mobile{
            display: flex !important;
        }
    }

    #in-help {
        background: #f4f5f7;
        margin: 0px;
        padding: 0px 13.86% 0px 13.86%;
        width: 100%;
    }
    #in-help .help-row {
        padding: 80px 0px 80px 0px;
    }

    #in-help .help-left {
        padding: 0px 100px 0px 0px;
    }
    #in-help .help-left h1{
        color: #2a4055;
        font-size: 47px;
        margin: 0px;
        padding:0px;
    }
    #in-help .help-left p{
        color: #1b1b1b;
        font-size: 19px;
        line-height: 1.7
    }

    #in-help .name {
        padding-left: 20px;
    }
    #in-help .help-right h1 {
        font-size: 23px;
        color: #000;
        padding: 0px;
        margin: 0px;
    }
    #in-help .help-right p {
        font-size: 17px;
        color: #595959;
        line-height: 1.5;
        margin: 0px 0px 50px 0px;
    }

    #in-health {
        background: url("../../../assets/sia/images/healths/health_bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        padding: 0px 0px 80px 0px;
    }
    #in-health .title{
        color: #fff;
        font-size: 54px;
        margin: 60px;
        text-align: center;
    }

    #in-health .contents{
        margin: 0px;
        padding: 0px 13.86% 0px 13.86%;
        width: 100%;
    }
    #in-health .contents h1{ 
        color: #fff;
        font-size: 27px;
    }
    #in-health .contents p{
        color: #fff;
        font-size: 19px;
        padding: 0px;
        margin: 0px;
        line-height: 1.5
    }
    #in-health .contents .img-link{
        position: absolute;
        left: 8.3%;
    }
    #in-health .contents .img-link hr{
        position: absolute;
        width: 0px;
        height: 350px;
        border: 1px solid #ffffff26;
        left: 50%;
    }
    #in-health .contents .img-link img{
        z-index: 500;
    }
    
    #in-block{
        background: url("../../../assets/sia/images/block/block.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        padding: 100px 0px 80px 0px;
    }
    #in-block .big-title{
        color: #fff;
        font-size: 47px;
    }
    #in-block .small-title{
        color: #fff;
        font-size: 19px;
    }

    #in-block .contents{
        width: 72.3%;
        margin-top: 40px;
    }
    #in-block .contents .content-items{
        text-align: center;
    }

    #in-block .contents .content-items h1{
        color: #fff;
        font-size: 24px;
    }
    #in-block .contents .content-items p{
        color: #fff;
        font-size: 19px;
    }

    #in-contact{
        background: #fff;
        padding: 100px 0px 80px 0px;
    }
    #in-contact .title{
        color: #000;
        font-size: 42px;
    }

    #in-contact .contents{
        width: 72.3%;
        padding: 50px;
    }
    #in-contact .contents .content-items{
        margin-left: 20px;
    }
    #in-contact .contents input{
        color: #000;
        background: #f7f7f7;
        border: 2px solid #d7d7d7;
        font-size: 25px;
        border-radius: 5px;
        height: 50px;
        padding: 10px;
        margin-right: 10px;
        width: 100%;
    }
    #in-contact .contents textarea{
        color: #000;
        background: #f7f7f7;
        border: 2px solid #d7d7d7;
        font-size: 25px;
        border-radius: 5px;
        height: 50px;
        padding: 10px;
        margin-right: 10px;
        width: 100%;
        height: 200px;
        resize: none;
    }

    #in-contact .contents p {
        color: #3d3d3d;
        font-size: 15px;
    }

    #in-contact .btn-mcolor-green {
        background: #8ac239;
        color: #fff;
        font-size: 16px;
        padding: 5px 20px 5px 20px;
        margin: 10px 0px 10px 10px;
    }

    

}